@media (max-width: 576px) {
    /* Top Header */
    .top {
        height: auto;
        text-align: center;

        &-language {
            .languages {
                position: static;
                visibility: hidden;
                opacity: 1;
                width: 100%;
                
                a {
                    color: $color-2;
                }
            }
        }
    }

    /* Menu & Logo */
    .menuandlogo {
        .menu-top {
            padding: 10px 0;
            
            .form-search {
                line-height: 26px;
            }
            .menu-right {
                li.nav-item {
                    a.nav-link {
                        line-height: 35px;
                        border-bottom: 1px dashed #cfcfcf;
                    }
                }
            }
        }

        
    } 
}